* text=auto
*.md text eol=lf whitespace=-blank-at-eol
*.py text eol=lf whitespace=blank-at-eol,blank-at-eof,space-before-tab
*.json text eol=lf
*.jsonl text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
